{% extends 'base.html' %}
{% block title %}Processos de aprendizagem{% endblock %}
{% block content %}

{% include 'components/acesso.html' %}

<!-- main atualizado para garantir que ocupe o espaço restante (empurra o footer) -->
<main class="container mb-5 d-flex flex-column" style="flex:1 0 auto;">
    <section>
        <h2 class="container mt-4">Processo de aprendizagem</h2>
        <p>
            Nosso site oferece um treinamento online completa de aprendizado sobre metodologias ágeis, com foco especial no framework Scrum. A estrutura do treinamento foi projetada para ser intuitiva, guiando o usuário através de um aprendizado progressivo a partir de capítulos, passando dos conceitos fundamentais até a aplicação prática em um ambiente de desenvolvimento real.
        </p>
        <p>
            O conteúdo é dividido conforme os três pilares de atuação dentro do Scrum:
        </p>
        <ul>
            <li>
                Scrum Master
            </li>
            <li>
                Product Owner
            </li>
            <li>
                Development Team
            </li>
        </ul>
        <p>
            Cada trilha de aprendizado conta com três capítulos, sempre intercalando com atividades e perguntas para reforçar o seu aprendizado. Essa abordagem garante que o conhecimento seja constantemente exercitado e fixado ao longo da jornada.
        </p>
        <p>
            Ao final do curso, o usuário realizará um teste final para ver seu conhecimento ao longo do percurso total. O desempenho será analisado pelo avaliador do sistema, que atribuirá uma pontuação em seu sistema.
        </p>
        <h4 class="mt-4">O que você pode desenvolver com os cursos?</h4>
        <p>
            Queremos que você não apenas aprenda o Scrum, mas entenda como aplicá-lo no mundo real, desenvolvendo:
        </p>
        <ul>
            <li>Colaboração em equipe</li>
            <li>Visão de produto</li>
            <li>Habilidade de planejamento, organização e adaptação contínua</li>
            <li>Desenvolvimento de produtividade</li>
        </ul>
        <p>
            Além de um pouco mais sobre outros metologias.
        </p>
    </section>
</main>
{% endblock %}
