{% extends 'base.html' %}
{% block title %}Sobre nós{% endblock %}
{% block content %}

{% include 'components/acesso.html' %}

<main class="container mb-5 mt-4">
    <section>
        <h2 class="container mb-5 mt-4">Sobre Nós</h2>
        <div class="d-flex justify-content-center">
            <img style="width: 500px;" src="{{ url_for('static', filename='images/Fatecos-team-photo.jpg') }}" alt="Foto do time Fatecos">
        </div>
        <h6 style="font-size: 12px;" class="container mb-5 mt-4 d-flex justify-content-center">
            Integrantes do time Fatecos da esquerda para direita: Gabriel Campos, Thiago Batista, Lucas Suzuki, Pedro Maciel, <br> Heitor Galvão, Nicolas Escobar, Elizabete Baltazar, João Victor Barreto & Miguel Duarte
        </h6>
        <p>Bem-vindo ao FatecOS! Somos uma equipe de desenvolvedores em formação na Fatec de São José dos Campos, unidos pelo objetivo de criar uma plataforma educacional completa sobre a metodologia ágil Scrum, que seja uma referência para quem deseja aprender ou aprimorar suas habilidades em Scrum.</p>
        <p>Acreditamos que aprender Scrum na prática é a melhor forma de compreendê-lo. Por isso, nosso site foi pensado para ser um ambiente intuitivo, dinâmico e acessível, oferecendo conteúdos que ajudam estudantes, desenvolvedores e novos profissionais a entenderem como esse método pode otimizar o desenvolvimento de software e outros projetos.</p>
        <p>Trabalhamos em sprints, utilizando o GitHub para gerenciar nossos códigos e documentações. Cada sprint é cuidadosamente planejada para garantir que estamos entregando um produto de valor aos nossos usuários. Nossa equipe é composta por desenvolvedores talentosos que estão comprometidos a entregar um resultado além das expectativas.</p>
        <p>Nossa equipe é formada por universitários inspirados, divididos em:</p>
        <ul>
            <li>
                <b>Desenvolvedores:</b> Responsáveis por escrever, testar e corrigir o código que constitui o site.
            </li>
            <li>
                <b>Product Owner:</b> Define as prioridades e fornece orientações sobre o que cada sprint abrangerá.
            </li>
            <li>
                <b>Scrum Master:</b> Facilita as reuniões e melhora a eficiência de cada sprint. Estamos comprometidos em entregar um site que atenda às necessidades dos nossos usuários.
            </li>
        </ul>
        <p>Trabalhamos com dedicação para garantir que o FatecOS seja uma ferramenta valiosa para a comunidade. Buscando construir algo que vá além de um projeto acadêmico, queremos deixar um legado para a comunidade da Fatec e para todos que desejam iniciar sua jornada com métodos ágeis.</p>

        <div class="d-flex justify-content-center">
            <img style="width: 500px;" src="{{ url_for('static', filename='images/Fatecos-gif-logo.gif') }}" alt="Logo do time Fatecos">
        </div>
    </section>
</main>
{%endblock%}
