{% extends 'base.html' %} {% block title %}Atividade 1{% endblock %} {% block
content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-2 d-flex justify-content-start">
                <section class="mt-5">
                    <p class="h2">Exercicios Capitulo 1</p>
                    <nav class="navbar">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item mt-2">
                                <button class="btn btn-primary btn_exercicio1">
                                    Exercicio 1
                                </button>
                            </li>
                            <li class="nav-item mt-2">
                                <button class="btn btn-primary btn_exercicio2">
                                    Exercicio 2
                                </button>
                            </li>
                            <li class="nav-item mt-2">
                                <button class="btn btn-primary btn_exercicio3">
                                    Exercicio 3
                                </button>
                            </li>
                            <li class="nav-item mt-2">
                                <button class="btn btn-primary btn_exercicio4">
                                    Exercicio 4
                                </button>
                            </li>
                            <li class="nav-item mt-2">
                                <button class="btn btn-primary btn_exercicio5">
                                    Exercicio 5
                                </button>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
            <div class="col-10">
                <section>
                    <div class="container container-info p-4 mt-4">
                        <!-- CONTAINER COM O CAPITULO, CONTENDO INFORMAÇÕES -->
                        <div
                            class="row conteudo_questao"
                            style="
                                height: auto;
                                overflow: auto;
                                max-height: 65vh;
                            "
                        >
                            <div class="row">
                                <!-- DIVISÃO DE LINHA -->
                                <div class="col">
                                    <!-- DIVISÃO DE COLUNA -->
                                    <h3>Capitulo 1 P.O</h3>
                                    <div class="row txt-justify">
                                        <p>
                                            1. A principal responsabilidade de
                                            um Product Owner (P.O.), que guia
                                            todas as suas ações, é:
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <form action="">
                                    <label for="" class="form-label"
                                        >Alternativas:</label
                                    >
                                    <div class="form-check">
                                        <input
                                            type="radio"
                                            name="questao"
                                            class="form-check-input"
                                            value="false"
                                        />
                                        <label
                                            for="valor1"
                                            class="form-check-label"
                                            ><b>A)</b> Gerenciar o cronograma do
                                            projeto e garantir que tudo seja
                                            entregue na data prometida.</label
                                        >
                                    </div>

                                    <div class="form-check">
                                        <input
                                            type="radio"
                                            name="questao"
                                            id="valor2"
                                            class="form-check-input"
                                            value="false"
                                        />
                                        <label
                                            for="valor2"
                                            class="form-check-label"
                                            ><b>B)</b> Escrever o código das
                                            funcionalidades mais importantes do
                                            produto.</label
                                        >
                                    </div>

                                    <div class="form-check">
                                        <input
                                            type="radio"
                                            name="questao"
                                            id="valor3"
                                            class="form-check-input"
                                            value="true"
                                        />
                                        <label
                                            for="valor3"
                                            class="form-check-label"
                                            ><b>C)</b> Maximizar o valor do
                                            produto, garantindo que a equipe
                                            construa as funcionalidades de maior
                                            impacto para o negócio e para o
                                            cliente.</label
                                        >
                                    </div>

                                    <div class="form-check">
                                        <input
                                            type="radio"
                                            name="questao"
                                            id="valor4"
                                            class="form-check-input"
                                            value="false"
                                        />
                                        <label
                                            for="valor4"
                                            class="form-check-label"
                                            ><b>D)</b> Organizar as reuniões do
                                            Scrum e garantir que a equipe siga
                                            as regras da metodologia.</label
                                        >
                                    </div>

                                    <div class="form-check">
                                        <input
                                            type="radio"
                                            name="questao"
                                            id="valor5"
                                            class="form-check-input"
                                            value="false"
                                        />
                                        <label
                                            for="valor5"
                                            class="form-check-label"
                                            ><b>E)</b> Atender a todos os
                                            pedidos dos stakeholders para
                                            mantê-los satisfeitos.</label
                                        >
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-between mt-2">
                            <button
                                class="btn btn-secondary btn_voltar"
                                value="-1"
                            >
                                <i class="bi bi-arrow-left-short"></i>Voltar
                            </button>
                            <div class="row">
                                <div class="col">
                                    <button
                                        id="btn_verificador"
                                        data-bs-toggle="modal"
                                        data-bs-target="#ModalVerificar"
                                        class="btn btn-primary"
                                    >
                                        Verificar
                                    </button>
                                    <button
                                        class="btn btn-primary btn_proximo"
                                        value="1"
                                    >
                                        Proximo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<!-- MODAL DE VERIFICAÇÃO -->
<div id="ModalVerificar" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-tittle">Verificador</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center conteudo_verificar"></div>
        </div>
    </div>
</div>
{%endblock%} {%block scripts%}
<script src="{{url_for('static', filename='js/atividades/atividade1_po.js')}}"></script>
<script src="{{url_for('static', filename='js/button_atividade.js')}}"></script>
<script src="{{url_for('static', filename='js/atividade_verificador.js')}}"></script>
{%endblock%}
