{% extends 'base.html' %}
{% block title %}PO Capítulos{% endblock %}

{% block content %}
{% include 'components/capitulos.html' %}
{%endblock%}

{%block scripts%}
<script src="{{url_for('static', filename='js/conteudo/conteudo_po.js')}}"></script>
<script src="{{url_for('static', filename='js/atividades/atividade_po.js')}}"></script>
<script src="{{url_for('static', filename='js/button_atividade.js')}}"></script>
<script src="{{url_for('static', filename='js/atividade_verificador.js')}}"></script>
{%endblock%}