{% extends 'base.html' %} {% block title%} Dev Team {%endblock%} {% block
content %}
<main>
    <section>
        <div class="container container-info mt-5">
            <div class="row">
                <div class="col">
                    <div class="text-center p-3">
                        <h3>Capítulos para Dev Team:</h3>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-around">
                            <a
                                href="{{ url_for('cursos.cap_conteudo', curso='dev', id=1) }}"
                                class="btn btn-primary"
                            >
                                Capítulo 1
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mt-5">
            <div class="container container-info p-3">
                <h3 class="text-center mb-4">Sobre o Developer Team:</h3>
                <p>
                    É a equipe de desenvolvedores auto-organizável e
                    multifuncional que efetivamente constrói o produto,
                    entregando um incremento de valor funcional a cada Sprint.
                </p>
            </div>
        </div>
    </section>
</main>

{%endblock%}
