{% extends 'base_curso.html' %} {% block title%} Dev Team {%endblock%} {% block
content %}
{% block image_curso %}<img style="width: 200px;"
                        src="https://zibtek-ghost-blog.sfo3.cdn.digitaloceanspaces.com/2019/12/image-7.png" alt="">{% endblock %}<!-- IMAGEM DO CURSO -->
{% block curso %}Capítulo para Product Owner:{% endblock %}<!-- TITULO DO CURSO -->
{% block descricacao %}É o dono do produto e a voz do cliente, responsável por
                        definir e priorizar os itens no Product Backlog para
                        maximizar o valor entregue pelo time.{% endblock %}<!-- DESCRIÇÃO DO CURSO -->
{% block iniciar %}<a href="{{ url_for('cursos.cap_conteudo', curso='po', id=1) }}" class="btn btn-primary">
                    Iniciar
                </a>{% endblock %}<!-- BOTÃO DO CURSO -->
{% block nome %}{% endblock %}<!-- NOME DA FIGURA IMPORTANTE -->
{% block descricacao_figura %}{% endblock %}<!-- DESCRIÇÃO DA FIGURA IMPORTANTE -->
{% block image_figura %}{% endblock %}<!-- IMAGEM DA FIGURA IMPORTANTE -->
{%endblock%}