{% extends 'base_curso.html' %} {% block title%} Dev Team {%endblock%} {% block
content %}
{% block image_curso %}{% endblock %}<!-- IMAGEM DO CURSO -->
{% block curso %}Capítulo para Scrum Master:{% endblock %}<!-- TITULO DO CURSO -->
{% block descricacao %}É a equipe de desenvolvedores auto-organizável e multifuncional que efetivamente constrói o produto, entregando um incremento de valor funcional a cada Sprint.{% endblock %}<!-- DESCRIÇÃO DO CURSO -->
{% block iniciar %}<a href="{{ url_for('cursos.cap_conteudo', curso='sm', id=1) }}" class="btn btn-primary">
                            Iniciar
                        </a>{% endblock %}<!-- BOTÃO DO CURSO -->
{% block nome %}{% endblock %}<!-- NOME DA FIGURA IMPORTANTE -->
{% block descricacao_figura %}{% endblock %}<!-- DESCRIÇÃO DA FIGURA IMPORTANTE -->
{% block image_figura %}{% endblock %}<!-- IMAGEM DA FIGURA IMPORTANTE -->
{%endblock%}