<!--ACESSO RÁPIDO -->
<section class="container pt-4">
    <div class="text-center">
        <div class="access-title">Acesso rápido</div>
        <hr class="border-secondary border-3">
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center pb-2">
            <div class="access-arrow" aria-hidden="true">&lsaquo;</div>
            <a href="{{url_for('main.processos')}}" class="quick-btn">Como funciona o treinamento?</a>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center pb-2">
            <a href="{{url_for('main.metodos')}}" class="quick-btn">Outros métodos</a>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center pb-2">
            <a href="{{url_for('quiz.quiz')}}" class="quick-btn">Quiz</a>
            <div class="ccess-arrow" aria-hidden="true">&rsaquo;</div>
        </div>
    </div>
</section>