<main class="container">
    <div class="row">
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <section class="chapters mt-5">
                <!-- B -->
                <p class="h2">Capítulos</p>
                <ul class="row p-4">

                    <li class="btn_conteudo1 btn btn-primary btn-lg mb-1" id="sub0">Capítulo 1</li>
                    <li class="btn_exercicio1 btn btn-secondary mb-1" id="sub1">Exercicio 1</li>

                    <li class="btn_conteudo2 btn btn-secondary mb-1" id="sub2">Capítulo 1.1</li>
                    <li class="btn_exercicio2 btn btn-secondary mb-1" id="sub3">exercicio 2</li>

                    <li class="btn_conteudo3 btn btn-secondary mb-1" id="sub4">Capítulo 1.2</li>
                    <li class="btn_exercicio3 btn btn-secondary mb-1" id="sub5">exercicio 3</li>

                    <li class="btn_conteudo4 btn btn-primary btn-lg mb-1" id="sub6">Capítulo 2</li>
                    <li class="btn_exercicio4 btn btn-secondary mb-1" id="sub7">Exercicio 4</li>

                    <li class="btn_conteudo5 btn btn-secondary mb-1" id="sub8">Capítulo 2.1</li>
                    <li class="btn_exercicio5 btn btn-secondary mb-1" id="sub9">exercicio 5</li>

                    <li class="btn_conteudo6 btn btn-secondary mb-1" id="sub10">Capítulo 2.2</li>
                    <li class="btn_exercicio6 btn btn-secondary mb-1" id="sub11">exercicio 6</li>
 
                    <li class="btn_conteudo7 btn btn-primary btn-lg mb-1" id="sub12">Capítulo 3</li>
                    <li class="btn_exercicio7 btn btn-secondary mb-1" id="sub13">Exercicio 7</li>

                    <li class="btn_conteudo8 btn btn-secondary mb-1" id="sub14">Capítulo 3.1</li>
                    <li class="btn_exercicio8 btn btn-secondary mb-1" id="sub15">exercicio 8</li>

                    <li class="btn_conteudo9 btn btn-secondary mb-1" id="sub16">Capítulo 3.2</li>
                    <li class="btn_exercicio9 btn btn-secondary " id="sub17">exercicio 9</li>
                </ul>
            </section>
        </div>

        <div class="col-12 col-md-9">
            <section class="mt-5 mb-5">
                <!--CONTEUDO-->
                <div class="conteudo text-center">

                </div>

                <div class="d-flex justify-content-between mt-5">
                    <button class="btn btn-secondary btn_voltar">
                        <i class="bi bi-arrow-left-short"></i>
                        Voltar
                    </button>

                    <div class="bottuns-right d-flex justify-content-between gap-3">
                        <button id="btn_verificador" data-bs-toggle="modal" data-bs-target="#ModalVerificar"
                            class="btn btn-info btn_verificador">
                            Verificar
                        </button>
                        <button class="btn btn-primary btn_proximo">
                            Próximo <i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<div id="ModalVerificar" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-tittle">Verificador</h1>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center conteudo_verificar"></div>
        </div>
    </div>
</div>